#container {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 44em;
  line-height: 27px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#name {
  font-size: 35pt;
  line-height: 1;
  font-weight: normal;
}

#left {
  margin-bottom: 1.15em;
}

#right {
  flex-grow: 1;
}

#headshot {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

#links p {
  margin-bottom: 0.0em;
}

#links {
  /*font-size: 18pt;*/
}

p {
  margin-top: 0em;
}

#publication_list {
  padding-left: 20px;
}

.papertitle {
  font-weight: 500;
}

.papervenue {
  font-style: italic;
}

#right h2 {
  margin-top: 0pt;
}

#publications li {
  margin-bottom: 12pt;
}

.me {
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  #container {
    padding-left: 28px;
    padding-right: 28px;
  }

  #leftright {
    display: flex;
  }

  #left {
    margin-right: 1.15em;
  }
}
