.wide-image {
  width: 100%;
}

figure {
  margin-left: 0em;
  margin-right: 0em;
}


@media screen and (min-width: 800px) {
  .wide-image {
    width: 70%;
  }

  figure {
    margin-left: 1em;
    margin-right: 1em;
  }
}
